<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanxiangbank.seckill.dao.LoanMapper">
    <select id="selectByIDCardNum" resultType="com.sanxiangbank.seckill.entity.Loan" parameterType="java.lang.String">
        select *
        from loan
        where IDCardNum = #{id};
    </select>
    <select id="select" resultType="com.sanxiangbank.seckill.entity.Loan">
        select *
        from loan;
    </select>
    <select id="isQualified" resultType="java.lang.Integer">
        select count(*)
        from loan
        where IDCardNum = #{uid}
          and beginTime > date_sub(now(), interval #{rule.yearLimit} year)
          and ((returnTime is not null and returnTime > endTime) or (returnTime is null and now() > endTime))
          and not (amount <![CDATA[ < ]]> #{rule.excludeAmount} and (
                (returnTime is not null and datediff(returnTime, endTime)<![CDATA[ <= ]]>  #{rule.excludeTimes})
                or
                (returnTime is null and datediff(now(), returnTime)<![CDATA[ <= ]]> #{rule.excludeTimes})
            )
            );
    </select>


</mapper>